<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fonts/pretendard/font.css">
    <link rel="stylesheet" href="/css/together-product/banner.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="shortcut icon" href="/images/main/favicon.png" type="image/x-icon">
    <title>너도먹고나도먹고</title>
</head>
<body>
    <div class="sub">
        <div>
            <header th:replace="~{/main/header.html :: header}"></header>

            <div class="banner-wrap">
                <ul class="banner-list">
                    <li class="banner" th:each="b : ${banners}">
                    <span class="banner-span">
                        <img th:src="@{/api/files/display/original(filePath=${b.filePath}, fileName=${b.fileName})}">
                    </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer th:replace="~{/main/footer.html :: div.footer-big}"></footer>
</body>
<script src="/js/main/header/event.js"></script>
</html>