<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fonts/pretendard/font.css">
    <link rel="stylesheet" href="/css/together-product/category-list.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="shortcut icon" href="/images/main/favicon.png" type="image/x-icon">
    <title>너도먹고나도먹고</title>
</head>
<body>
    <div class="sub">
        <div>
            <header th:replace="~{/main/header.html :: header}"></header>
            <div class="layout-wrapper">
                <div class="menu-section">
                    <div th:switch="${category.categoryName}">
                        <h3 class="menu-title" th:case="'vegetables'">채소</h3>
                        <h3 class="menu-title" th:case="'fruits'">과일·견과·쌀</h3>
                        <h3 class="menu-title" th:case="'fisheries'">수산·해산·건어물</h3>
                        <h3 class="menu-title" th:case="'butchers'">정육·가공육·달걀</h3>
                        <h3 class="menu-title" th:case="'etc'">기타</h3>
                    </div>
                    <ul class="menu-list" >
                        <li class="menu-item all">
                            <button type="button" class="menu-btn">전체보기</button>
                        </li>
                        <li class="menu-item" th:each="subCategory : ${category.subCategoryNames}">
                            <button type="button"
                                    class="menu-btn"
                                    th:data-id="${subCategory.id}"
                                    th:text="${subCategory.subCategoryName}">
                                소분류 이름
                            </button>
                        </li>

                    </ul>
                </div>
                <div class="container">
                    <div class="product-section">
                        <div class="filter-sidebar">
                            <div class="filter-title">
                                <h2>필터</h2>
                                <button type="button" class="btn-reset">
                                    <svg width="12" height="12" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.78 3.96303C12.504 2.16973 10.4086 1 8.04 1C4.15192 1 1 4.15192 1 8.04C1 11.9281 4.15192 15.08 8.04 15.08C11.9281 15.08 15.08 11.9281 15.08 8.04" stroke="#ddd" stroke-width="1.6" stroke-linecap="square" stroke-linejoin="round"></path><path d="M14.4933 1L14.4933 4.52H10.9733" stroke="#ddd" stroke-width="1.6" stroke-linecap="square" stroke-linejoin="round"></path></svg>
                                    <span>초기화</span>
                                </button>
                            </div>
                            <div class="filter-category-section">
                                <!-- 드롭다운 : class up 추가시  -->
                                <div class="filter-category-list">
                                    <button type="button" class="dropdown-btn">
                                        <div class="title">가격</div>
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" stroke="#999" xmlns="http://www.w3.org/2000/svg" class="css-innaj4 e1frj59j6"><path d="M5 11L9 7L13 11" stroke="#999" stroke-width="1.2"></path>
                                        </svg>
                                    </button>
                                    <div class="dropdown-content">
                                        <ul class="filter-list">
                                            <li class="filter-item">
                                                <span class="btn-radio-box">
                                                    <label for="rdo1">
                                                        <input type="radio" name="radio" id="rdo1" value="1000">
                                                        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M12 23.5C18.3513 23.5 23.5 18.3513 23.5 12C23.5 5.64873 18.3513 0.5 12 0.5C5.64873 0.5 0.5 5.64873 0.5 12C0.5 18.3513 5.64873 23.5 12 23.5Z" fill="#fff" stroke="#ddd"></path>
                                                            <path d="M12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z" fill="#fff"></path>
                                                        </svg>
                                                        <span class="title price">1,000원 미만</span>
                                                    </label>
                                                </span>
                                            </li>
                                            <li class="filter-item">
                                                <span class="btn-radio-box">
                                                    <label for="rdo2">
                                                        <input type="radio" name="radio" id="rdo2" value="2000">
                                                        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M12 23.5C18.3513 23.5 23.5 18.3513 23.5 12C23.5 5.64873 18.3513 0.5 12 0.5C5.64873 0.5 0.5 5.64873 0.5 12C0.5 18.3513 5.64873 23.5 12 23.5Z" fill="#fff" stroke="#ddd"></path>
                                                            <path d="M12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z" fill="#fff"></path>
                                                        </svg>
                                                        <span class="title price">1,000원 ~ 2,000원</span>
                                                    </label>
                                                </span>
                                            </li>
                                            <li class="filter-item">
                                                <span class="btn-radio-box">
                                                    <label for="rdo3">
                                                        <input type="radio" name="radio" id="rdo3" value="3000">
                                                        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M12 23.5C18.3513 23.5 23.5 18.3513 23.5 12C23.5 5.64873 18.3513 0.5 12 0.5C5.64873 0.5 0.5 5.64873 0.5 12C0.5 18.3513 5.64873 23.5 12 23.5Z" fill="#fff" stroke="#ddd"></path>
                                                            <path d="M12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z" fill="#fff"></path>
                                                        </svg>
                                                        <span class="title price">2,000원 ~ 3,000원</span>
                                                    </label>
                                                </span>
                                            </li>
                                            <li class="filter-item">
                                                <span class="btn-radio-box">
                                                    <label for="rdo4">
                                                        <input type="radio" name="radio" id="rdo4" value="4000">
                                                        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M12 23.5C18.3513 23.5 23.5 18.3513 23.5 12C23.5 5.64873 18.3513 0.5 12 0.5C5.64873 0.5 0.5 5.64873 0.5 12C0.5 18.3513 5.64873 23.5 12 23.5Z" fill="#fff" stroke="#ddd"></path>
                                                            <path d="M12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z" fill="#fff"></path>
                                                        </svg>
                                                        <span class="title price">3,000원 ~ 4,000원</span>
                                                    </label>
                                                </span>
                                            </li>
                                            <li class="filter-item">
                                                <span class="btn-radio-box">
                                                    <label for="rdo5">
                                                        <input type="radio" name="radio" id="rdo5" value="5000">
                                                        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M12 23.5C18.3513 23.5 23.5 18.3513 23.5 12C23.5 5.64873 18.3513 0.5 12 0.5C5.64873 0.5 0.5 5.64873 0.5 12C0.5 18.3513 5.64873 23.5 12 23.5Z" fill="#fff" stroke="#ddd"></path>
                                                            <path d="M12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z" fill="#fff"></path>
                                                        </svg>
                                                        <span class="title price">5,000원 이상</span>
                                                    </label>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-main">
                            <div class="product-filter-bar">
                                <span class="result-count">총 <span class="count">24</span>건</span>
                                <ul class="product-sort-options">
                                    <li class="product-sort-item">
                                        <button type="button" class="sort-button" value="latest">신상품순</button>
                                    </li>
                                    <li class="product-sort-item">
                                        <button type="button" class="sort-button" value="priceLow">낮은 가격순</button>
                                    </li>
                                    <li class="product-sort-item">
                                        <button type="button" class="sort-button" value="priceHigh">높은 가격순</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="active-filter-container">
                                <!-- 이곳에 태그가 들어옴 -->
                            </div>
                            <div class="product-list" >
<!--                                이곳에 상품 카드 들어옴-->
                            </div>
                            <div class="data-null">
<!--                                데이터 없을 때-->
                            </div>
<!--                            페이지네이션-->
                            <div class="pagenation">
                                <button type="button" class="pagenation-btn first">
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAHCAQAAABwkq/rAAAAHUlEQVR42mNgAIPi/8X/kWkwA8SE0UQIMJAsCKMBBzk27fqtkcYAAAAASUVORK5CYII=">
                                </button>
                                <button type="button" class="pagenation-btn prev">
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAHCAQAAABqrk9lAAAAGElEQVR42mNgAIPi/8X/4QwwE5PBQJADAAKSG3cyVhtXAAAAAElFTkSuQmCC">
                                </button>

                                <div class="pagenation-number">
                                    <!-- 있는만큼 페이지 목록 나옴 -->
                                </div>

                                <button type="button" class="pagenation-btn next">
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAHCAQAAABqrk9lAAAAGUlEQVR42mMo/l/8nwECQEwCHEwGhAlRBgA2mht3SwgzrwAAAABJRU5ErkJggg==">
                                </button>
                                <button type="button" class="pagenation-btn last">
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAHCAQAAABwkq/rAAAAIElEQVR42mMo/l/8n4GBgQFGQ5kgDowmQZCwAMImhDkAb0k27Zcisn8AAAAASUVORK5CYII=">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scroll-to-top">
                    <button type="button" class="scroll-top-btn"></button>
                </div>
                <div class="recently-viewed-section">
                    <div class="recently-viewed">
                        <button type="button" class="prev">
                            <svg width="20" height="20" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 11L9 7L13 11" stroke="#666" stroke-width="1.3"></path></svg>
                        </button>
                        <span class="title">최근 본 상품</span>
                        <div class="recently-viewed-scroll">
                            <ul class="recently-viewed-list">
                                <li class="product-image">
                                    <a href="">
                                        <img src="https://product-image.kurly.com/hdims/resize/%5E%3E120x%3E156/cropcenter/120x156/quality/85/src/product/image/1238a282-7b82-4bf7-8272-54f4e476e769.jpg">
                                    </a>
                                </li>
                                <li class="product-image">
                                    <a href="">
                                        <img src="https://product-image.kurly.com/hdims/resize/%5E%3E120x%3E156/cropcenter/120x156/quality/85/src/product/image/1238a282-7b82-4bf7-8272-54f4e476e769.jpg">
                                    </a>
                                </li>
                                <li class="product-image">
                                    <a href="">
                                        <img src="https://product-image.kurly.com/hdims/resize/%5E%3E120x%3E156/cropcenter/120x156/quality/85/src/product/image/1238a282-7b82-4bf7-8272-54f4e476e769.jpg">
                                    </a>
                                </li>
                                <li class="product-image">
                                    <a href="">
                                        <img src="https://product-image.kurly.com/hdims/resize/%5E%3E120x%3E156/cropcenter/120x156/quality/85/src/product/image/1238a282-7b82-4bf7-8272-54f4e476e769.jpg">
                                    </a>
                                </li>
                                <li class="product-image">
                                    <a href="">
                                        <img src="https://product-image.kurly.com/hdims/resize/%5E%3E120x%3E156/cropcenter/120x156/quality/85/src/product/image/1238a282-7b82-4bf7-8272-54f4e476e769.jpg">
                                    </a>
                                </li>
                                <li class="product-image">
                                    <a href="">
                                        <img src="https://product-image.kurly.com/hdims/resize/%5E%3E120x%3E156/cropcenter/120x156/quality/85/src/product/image/1238a282-7b82-4bf7-8272-54f4e476e769.jpg">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="next">
                            <svg width="20" height="20" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 7L9 11L5 7" stroke="#666" stroke-width="1.3"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-wrap"></div>
    <footer th:replace="~{/main/footer.html :: div.footer-big}"></footer>
</body>
<script th:inline="javascript">
    const category = [[${category}]];
    const subCategories = category.subCategoryNames;
</script>
<script src="/js/main/header.js"></script>
<script src="/js/together-product/category-list/module/service.js"></script>
<script src="/js/together-product/category-list/module/layout.js"></script>
<script src="/js/together-product/category-list/event.js"></script>
</html>