<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.youeatieat.mapper.AdminBannerFileMapper">
    <insert id="insertBannerFile">
        insert into tbl_banner_file (banner_id, file_id)
        values (#{bannerId}, #{fileId})
    </insert>

    <delete id="deleteBannerFile">
        delete from tbl_banner_file
        where banner_id = #{bannerId}
    </delete>

    <select id="findFilesByBannerId">
        select f.id as fileId,
               f.file_path,
               f.file_name,
               f.file_original_name,
               f.file_size,
               f.file_content_type,
               bf.banner_id as bannerId
        from tbl_file f
                 join tbl_banner_file bf on f.id = bf.file_id
                 join tbl_banner b on bf.banner_id = b.id
        where b.id = #{bannerId}
    </select>
</mapper>