<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.youeatieat.mapper.AdminCustomerMapper">
    <select id="selectCustomerAll">
        select m.id, m.member_name, m.member_email,
        m.member_phone, m.member_last_login_date, m.created_date, m.updated_date,
        ifnull(max(sp.subscription_payment_status), 'failed') as "subscription_payment_status"
        from tbl_member m
            left join tbl_subscription_payment sp on m.id = sp.member_id
            where m.member_status = 'active' and m.member_role = 'buyer'
            <if test="keyword != null">
                and (
                    m.id like concat('%', #{keyword}, '%') or
                    m.member_name like concat('%', #{keyword}, '%')
                )
            </if>
        group by m.id
        order by m.id desc
        limit #{criteria.count} offset #{criteria.offset}
    </select>

    <select id="selectCountAll">
        select count(distinct m.id)
        from tbl_member m
        where member_status = 'active' and member_role = 'buyer'
            <if test="keyword != null">
                and (
                m.id like concat('%', #{keyword}, '%') or
                m.member_name like concat('%', #{keyword}, '%')
                )
            </if>
    </select>

    <select id="selectDetailCustomer">
        select id, member_email, member_name, member_birth, member_phone, member_gender, member_role, member_status, member_last_login_date, created_date, updated_date
        from tbl_member
        where id = #{id}
    </select>

    <select id="selectPaymentsAll">
        select
            rp.id,
            rp.payment_method,
            rp.payment_date,
            rp.payment_status,
            rp.request_id,
            rp.created_date,
            rp.updated_date,
            r.product_id,
            r.request_price,
            r.request_amount,
            p.product_name
        from tbl_request_payment rp
            join tbl_request r on r.id = rp.request_id
            join tbl_product p on p.id = r.product_id
        where rp.member_id = #{id}
            and rp.payment_status = 'success'
            order by id desc
        limit 3
    </select>

<!--    <select id="selectPaymentCountAll">-->
<!--        select count(*)-->
<!--        from tbl_request_payment-->
<!--        where member_id = #{id}-->
<!--          and payment_status = 'success'-->
<!--    </select>-->

    <select id="selectPaymentCalculate">
        select
            count(*) totalOrders,
            sum(r.request_price) totalPrice,
            max(rp.payment_date) lastPaymentDate
        from tbl_request_payment rp
                 join tbl_request r on r.id = rp.request_id
        where rp.member_id = #{memberId}
          and rp.payment_status = 'success'
    </select>

    <select id="selectNonSubscribedCustomerAll">
        select m.id, m.member_email, m.member_name, m.member_birth, m.member_phone, m.member_provider, m.member_gender, m.member_role, m.member_status, m.member_last_login_date, m.created_date, m.updated_date,
            sp.member_id, max(s.subscription_start_date), max(s.subscription_end_date), max(s.subscription_status),
            ifnull(max(sp.subscription_payment_status), 'failed') as "subscription_payment_status"
        from tbl_member m
            left join tbl_subscription_payment sp on m.id = sp.member_id
                join app.tbl_subscription s on s.id = sp.subscription_id
        where m.member_status = 'active' and m.member_role = 'buyer'
          and (s.subscription_status is null
            or sp.subscription_payment_status != 'success')
            <if test="keyword != null">
                and (
                m.id like concat('%', #{keyword}, '%') or
                m.member_name like concat('%', #{keyword}, '%')
                )
            </if>
        group by m.id
        order by m.id desc
        limit #{criteria.count} offset #{criteria.offset}
    </select>

    <select id="selectNonSubscribedCountAll">
        select count(distinct m.id)
        from tbl_member m
            left join tbl_subscription_payment sp on m.id = sp.member_id
            join app.tbl_subscription s on s.id = sp.subscription_id
        where m.member_status = 'active' and m.member_role = 'buyer'
          and (s.subscription_status is null
            or subscription_payment_status != 'success')
            <if test="keyword != null">
                and (
                m.id like concat('%', #{keyword}, '%') or
                m.member_name like concat('%', #{keyword}, '%')
                )
            </if>
    </select>

    <select id="selectSubscribedCustomerAll">
        select m.id, m.member_email, m.member_name, m.member_birth, m.member_phone, m.member_provider, m.member_gender, m.member_role, m.member_status, m.member_last_login_date, m.created_date, m.updated_date,
        sp.member_id, max(s.subscription_start_date), max(s.subscription_end_date), max(s.subscription_status),
            ifnull(max(sp.subscription_payment_status), 'failed') as "subscription_payment_status"
        from tbl_member m
            left join tbl_subscription_payment sp on m.id = sp.member_id
            join app.tbl_subscription s on s.id = sp.subscription_id
        where m.member_status = 'active' and m.member_role = 'buyer'
          and sp.subscription_payment_status = 'success'
            <if test="keyword != null">
                and (
                m.id like concat('%', #{keyword}, '%') or
                m.member_name like concat('%', #{keyword}, '%')
                )
            </if>
        group by m.id
        order by m.id desc
        limit #{criteria.count} offset #{criteria.offset}
    </select>

    <select id="selectSubscribedCountAll">
        select count(distinct m.id)
        from tbl_member m
            left join tbl_subscription_payment sp on m.id = sp.member_id
            join app.tbl_subscription s on s.id = sp.subscription_id
        where m.member_status = 'active' and m.member_role = 'buyer'
        and sp.subscription_payment_status = 'success'
            <if test="keyword != null">
                and (
                m.id like concat('%', #{keyword}, '%') or
                m.member_name like concat('%', #{keyword}, '%')
                )
            </if>
    </select>
</mapper>