<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.youeatieat.mapper.AdminProductMapper">
    <select id="selectProductAll">
        select p.id, p.product_name, p.product_price, p.product_quantity, p.product_title_image_url, p.product_info_image_url, p.product_min_number, p.product_status, p.member_id, p.created_date, p.updated_date
        from tbl_product p
        where p.product_status = 'active'
            <if test="keyword != null">
                and (
                product_name like concat('%', #{keyword}, '%')
                )
            </if>
        order by p.id desc
        limit #{criteria.count} offset #{criteria.offset}
    </select>

    <select id="selectCountAll">
        select count(distinct id)
        from tbl_product
        where product_status = 'active'
            <if test="keyword != null">
                and (
                product_name like concat('%', #{keyword}, '%')
                )
            </if>
    </select>

<!--    <select id="selectDetailCustomer">-->
<!--        select id, member_email, member_name, member_birth, member_phone, member_gender, member_role, member_status, member_last_login_date, created_date, updated_date-->
<!--        from tbl_member-->
<!--        where id = #{id}-->
<!--    </select>-->
</mapper>