<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.youeatieat.mapper.AdminSellerMapper">
    <select id="selectSellerAll">
        select m_id as id, member_email, member_name, member_birth, member_phone, member_provider as provider, member_gender, member_role, member_status, member_last_login_date, created_date, updated_date, a_id, address, address_detail, address_post_number, address_status
        from view_member_provider_address
        where member_status = 'active' and member_role = 'seller'
            <if test="keyword != null">
                and (
                m_id like concat('%', #{keyword}, '%') or
                member_name like concat('%', #{keyword}, '%')
                )
            </if>
        order by m_id desc
        limit #{criteria.count} offset #{criteria.offset}
    </select>

    <select id="selectSellerCountAll">
        select count(*) from tbl_member
        where member_status = 'active' and member_role = 'seller'
            <if test="keyword != null">
                and (
                id like concat('%', #{keyword}, '%') or
                member_name like concat('%', #{keyword}, '%')
                )
            </if>
    </select>

    <select id="selectDetailSeller">
        select m_id as id, member_email, member_name, member_birth, member_phone, member_provider, member_gender, member_role, member_status, member_last_login_date, created_date, updated_date, a_id, address, address_detail, address_post_number, address_status
        from view_member_provider_address
        where m_id = #{id}
    </select>

    <select id="selectYoueatieatSellerAll">
        select m_id as id, member_email, member_name, member_birth, member_phone, member_provider, member_gender, member_role, member_status, member_last_login_date, created_date, updated_date, a_id, address, address_detail, address_post_number, address_status
        from view_member_provider_address
        where member_status = 'active' and member_role = 'seller' and member_provider = 'you_i'
        <if test="keyword != null">
            and (
            m_id like concat('%', #{keyword}, '%') or
            member_name like concat('%', #{keyword}, '%')
            )
        </if>
        order by m_id desc
        limit #{criteria.count} offset #{criteria.offset}
    </select>

    <select id="selectYoueatieatCountAll">
        select count(*) from tbl_member
        where member_status = 'active' and member_role = 'seller' and member_provider = 'you_i'
            <if test="keyword != null">
                and (
                id like concat('%', #{keyword}, '%') or
                member_name like concat('%', #{keyword}, '%')
                )
            </if>
    </select>

    <select id="selectKakaoSellerAll">
        select m_id as id, member_email, member_name, member_birth, member_phone, member_provider, member_gender, member_role, member_status, member_last_login_date, created_date, updated_date, a_id, address, address_detail, address_post_number, address_status
        from view_member_provider_address
        where member_status = 'active' and member_role = 'seller' and member_provider = 'kakao'
        <if test="keyword != null">
            and (
            m_id like concat('%', #{keyword}, '%') or
            member_name like concat('%', #{keyword}, '%')
            )
        </if>
        order by m_id desc
        limit #{criteria.count} offset #{criteria.offset}
    </select>

    <select id="selectKakaoCountAll">
        select count(*) from tbl_member
        where member_status = 'active' and member_role = 'seller' and member_provider = 'kakao'
            <if test="keyword != null">
                and (
                id like concat('%', #{keyword}, '%') or
                member_name like concat('%', #{keyword}, '%')
                )
            </if>
    </select>

    <select id="selectPurchaseAll">
        select id, purchase_request_product_name, purchase_request_description, purchase_request_category, purchase_request_quantity_kg, purchase_request_proposed_price_per_kg, purchase_request_country_of_origin, purchase_request_date_of_manufacture, purchase_request_detail_img, purchase_request_approval_status, purchase_request_status, member_id, created_date, updated_date
        from tbl_purchase_request
        where member_id = #{id}
            and purchase_request_approval_status = 'approved'
            and purchase_request_status = 'active'
        order by id desc
        limit 3
    </select>

    <select id="selectPurchaseCalculate">
        select
            count(*) totalOrders,
            sum(purchase_request_proposed_price_per_kg) totalPrice,
            max(purchase_request_date_of_manufacture) lastPaymentDate
        from tbl_purchase_request
        where member_id = #{memberId}
            and purchase_request_status = 'active'
            and purchase_request_approval_status = 'approved'
    </select>
</mapper>