<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.youeatieat.mapper.AdminCustomerMapper">
    <select id="selectCustomerAll">
        select id, member_name, member_email,
               member_phone, member_last_login_date , created_date, updated_date
        from tbl_member
        where member_status = 'active' and member_role = 'buyer'
        order by id desc
        limit #{count} offset #{offset}
    </select>

    <select id="selectCountAll">
        select count(*) from tbl_member
        where member_status = 'active' and member_role = 'buyer'
    </select>

    <select id="selectDetailCustomer">
        select id, member_email, member_password, member_name, member_birth, member_phone, member_provider, member_gender, member_role, member_status, member_last_login_date, created_date, updated_date
        from tbl_member
        where id = #{id}
    </select>

    <select id="selectNonSubscribedCustomerAll">
        select m.id, m.member_email, m.member_password, m.member_name, m.member_birth, m.member_phone, m.member_provider, m.member_gender, m.member_role, m.member_status, m.member_last_login_date, m.created_date, m.updated_date
        from tbl_member m
        join view_subscription_sub_payment v
            on m.id = v.m_id
        where m.member_status = 'active'
            and m.member_role = 'buyer'
            and (v.subscription_status is null
                or subscription_payment_status != 'success')
        order by m.id desc
        limit #{count} offset #{offset}
    </select>

    <select id="selectNonSubscribedCountAll">
        select count(*)
        from tbl_member m
        join view_subscription_sub_payment v
            on m.id = v.m_id
        where m.member_status = 'active'
            and m.member_role = 'buyer'
            and (v.subscription_status is null
                or subscription_payment_status != 'success')
    </select>

    <select id="selectSubscribedCustomerAll">
        select m.id, m.member_email, m.member_password, m.member_name, m.member_birth, m.member_phone, m.member_provider, m.member_gender, m.member_role, m.member_status, m.member_last_login_date, m.created_date, m.updated_date, v.m_id, v.s_id, v.subscription_start_date, v.subscription_end_date, v.subscription_status, v.p_id
        from tbl_member m
        join view_subscription_sub_payment v on m.id = v.m_id
        where m.member_status = 'active' and m.member_role = 'buyer' and v.subscription_status = 'active'
        order by m.id desc
        limit #{count} offset #{offset}
    </select>

    <select id="selectSubscribedCountAll">
        select count(*)
        from tbl_member m
        join view_subscription_sub_payment v on m.id = v.m_id
        where m.member_status = 'active' and m.member_role = 'buyer' and v.subscription_status = 'active'
    </select>
</mapper>