<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.youeatieat.mapper.CartMapper">
    <insert id="insertCart">
        insert into tbl_cart (cart_count, product_id, member_id)
        values (#{cartCount}, #{productId}, #{memberId})
    </insert>
    <select id="selectCartByMemberId">
        select c.id as id,
               c.cart_status ,
               c.cart_count ,
               c.product_id ,
               c.member_id ,
               c.created_date ,
               c.updated_date ,
               p.product_name ,
               p.product_price,
               p.product_title_image_url
        from tbl_cart c join tbl_member m on c.member_id = m.id join tbl_product p on c.product_id =p.id
        where c.member_id=#{memberId}
    </select>
<!--아이디로 조회-->
    <select id="selectCartById">
        select c.id as id,
               c.cart_status ,
               c.cart_count ,
               c.product_id ,
               c.member_id ,
               c.created_date ,
               c.updated_date ,
               p.product_name ,
               p.product_price,
               p.product_title_image_url
        from tbl_cart c join tbl_member m on c.member_id = m.id join tbl_product p on c.product_id =p.id
        where c.id=#{id}
    </select>


    <update id="updateCartCount">
            update tbl_cart
            set cart_count = #{cartCount}
            where id=#{cartId}
    </update>
    <update id="updateDuplicateProduct">
        update tbl_cart
        set cart_count = cart_count+#{cartCount}
        where id=#{cartId}
    </update>
    <select id="selectDuplicateProduct">
        select id,cart_count
        from tbl_cart
        where member_id=#{memberId} and product_id = #{productId}
    </select>
    <delete id="deleteCartByCartId">
        delete from tbl_cart
        where id=#{cartId}
    </delete>
</mapper>