<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.youeatieat.mapper.MainCategoryMapper">
    <select id="selectAll">
        select id, category_name
        from tbl_main_category
        order by id asc
    </select>
    <select id="selectCategoryById">
        select id, category_name
        from tbl_main_category
        where id = #{id}
    </select>
</mapper>