<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.youeatieat.mapper.ProductInquiryAnswerMapper">
    <select id="selectAnswerById">
        select product_inquiry_answer_content, created_date
        from tbl_product_inquiry_answer
        where product_inquiry_answer_status = 'active'
        and product_inquiry_id = #{productInquiryId}
        ORDER BY created_date DESC
    </select>
</mapper>